In [67]:
# PAIR 3: Pair Unión y Limpieza de Datos

In [68]:
# Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. 
# Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.
# Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. 
# Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

# Asegúrate de realizar los siguientes pasos:

    # Explora y carga ambos conjuntos de datos en pandas DataFrames.
    # Identifica las columnas comunes entre los dos conjuntos de datos.
    # Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.
    # Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

import pandas as pd

df_part1 = pd.read_csv('world-data-2023_part1.csv', index_col = 0)
df_part2 = pd.read_csv('world-data-2023_part2.csv', index_col= 0)

In [69]:
df_part1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [70]:
df_part2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [71]:
df_unido = df_part1.merge(df_part2, left_on='Country', right_on='country', how='outer')

In [72]:
# Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.
df_unido= df_unido.drop('country', axis=1)

In [73]:
pd.set_option('display.max_columns', None)

In [74]:
df_unido.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')

In [75]:
# Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
   # No tengan espacios.
   # Estén en minúscula.
   # No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
   # Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
   # Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [76]:
columnas_nuevas = {}

for col in df_unido.columns:
    columnas_nuevas[col]=col.replace(" ", "").replace("(%)","").replace("(P/Km2)", "").replace("\n", "").replace(":","").lower()

In [77]:
columnas_nuevas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea(km2)',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [78]:
df_unido.rename(columns=columnas_nuevas, inplace=True)

In [79]:
df_unido

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [ ]:
# La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.
df_unido['latitud']=df_unido['coordinates'].str.split(",")[0][0].replace(" ", "").replace("'","").replace("(", "")

In [81]:
df_unido['longitud']=df_unido['coordinates'].str.split(",")[0][1].replace(" ", "").replace("'","").replace(")", "")

In [82]:
df_unido.drop("coordinates", axis=1, inplace=True)

In [83]:
df_unido.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland',
       'landarea(km2)', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [ ]:
# Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, 
# gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

df_unido['unemploymentrate'] = df_unido['unemploymentrate'].str.replace('%', '')
df_unido['totaltaxrate'] = df_unido['totaltaxrate'].str.replace('%', '')
df_unido['taxrevenue'] = df_unido['taxrevenue'].str.replace('%', '')
df_unido['populationlaborforceparticipation'] = df_unido['populationlaborforceparticipation'].str.replace('%', '')
df_unido['outofpockethealthexpenditure'] = df_unido['outofpockethealthexpenditure'].str.replace('%', '')
df_unido['grosstertiaryeducationenrollment'] = df_unido['grosstertiaryeducationenrollment'].str.replace('%', '')
df_unido['grossprimaryeducationenrollment'] = df_unido['grossprimaryeducationenrollment'].str.replace('%', '')
df_unido['forestedarea'] = df_unido['forestedarea'].str.replace('%', '')
df_unido['cpichange'] = df_unido['cpichange'].str.replace('%', '')
df_unido['agriculturalland'] = df_unido['agriculturalland'].str.replace('%', '')

In [87]:
df_unido.head()

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",33.93911,67.709953
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",33.93911,67.709953
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",33.93911,67.709953
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",33.93911,67.709953

In [86]:
# Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

df_unido['gasolineprice'] = df_unido['gasolineprice'].str.replace('$', '')
df_unido['gdp'] = df_unido['gdp'].str.replace('$', '')
df_unido['minimumwage'] = df_unido['minimumwage'].str.replace('$', '')

In [ ]:
# Guarda el DataFrame para usarlo posteriormente.

df_unido.to_csv('df_final.csv', index=False)

In [ ]:
df2 = df_unido.copy()

In [ ]:
# Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

df2[df2['infantmortality'].between(40, 50)]

In [91]:
df2.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland',
       'landarea(km2)', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [92]:
# Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

df2[(df2['birthrate'] >=20) & (df2['lifeexpectancy'] > 75)]

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",33.93911,67.709953
71,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.40,HNL,2.46,40.00,0.98,"25,095,395,475",91.50,26.20,15.1,Tegucigalpa,75.1,65.0,1.01,Spanish,49.10,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433",33.93911,67.709953
78,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.80,ILS,3.09,7.70,1.57,"395,098,666,122",104.90,63.40,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.40,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393",33.93911,67.709953

In [94]:
# Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

df2[df2['capital/majorcity'].str.contains('la', na=False)]

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",33.93911,67.709953
51,Equatorial Guinea,50,GQ,10.10,"28,051","1,000",33.24,240.0,Malabo,"5,655",124.35,1.20,XAF,4.51,55.50,NaN,"11,026,774,945",61.80,1.90,62.6,Malabo,58.4,301.0,1.05,Spanish,72.00,0.40,"1,355,986",62.00,6.10,79.40,6.43,"984,812",33.93911,67.709953
66,Guatemala,167,GT,36.00,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.70,GTQ,2.87,32.70,0.79,"76,710,385,880",101.90,21.80,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.80,0.35,"16,604,026",62.30,10.60,35.20,2.46,"8,540,945",33.93911,67.709953
100,Malaysia,99,MY,26.30,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",121.46,0.70,MYR,2.00,67.60,0.45,"364,701,517,788",105.30,45.10,6.7,Johor Bahru,76.0,29.0,0.93,Malaysian language,36.70,1.51,"32,447,385",64.30,12.00,38.70,3.32,"24,475,766",33.93911,67.709953
110,Mongolia,2,MN,71.50,"1,564,116","18,000",24.13,976.0,Ulaanbaatar,"25,368",195.76,7.30,MNT,2.90,8.00,0.72,"13,852,850,259",104.00,65.60,14.0,Ulaanbaatar,69.7,45.0,0.65,Mongolian,39.30,2.86,"3,225,167",59.70,16.80,25.70,6.01,"2,210,626",33.93911,67.709953
127,Pakistan,287,PK,47.80,"796,095","936,000",28.25,92.0,Islamabad,"201,150",182.32,10.60,PKR,3.51,1.90,0.79,"304,400,000,000",94.30,9.00,57.2,Karachi,67.1,140.0,0.69,Urdu,66.50,0.98,"216,565,318",52.60,9.20,33.90,4.45,"79,927,762",33.93911,67.709953
134,Philippines,368,PH,41.70,"300,000","153,000",20.55,63.0,Manila,"122,287",129.61,2.50,PHP,2.58,27.80,0.86,"376,795,508,680",107.50,35.50,22.5,Manila,71.1,121.0,1.12,English,53.50,0.60,"108,116,615",59.60,14.00,43.10,2.15,"50,975,903",33.93911,67.709953
154,Slovakia,114,SK,39.20,"49,035","16,000",10.60,421.0,Bratislava,"32,424",115.34,2.70,EUR,1.52,40.40,1.32,"105,422,304,976",98.70,46.60,4.6,Bratislava,77.2,5.0,3.11,Slovak,18.40,3.42,"5,454,073",59.50,18.70,49.70,5.56,"2,930,419",33.93911,67.709953
181,Uganda,229,UG,71.90,"241,038","46,000",38.14,256.0,Kampala,"5,680",173.87,2.90,UGX,4.96,9.70,0.94,"34,387,229,486",102.70,4.80,33.8,Buganda,63.0,375.0,0.01,Swahili,40.50,0.17,"44,269,594",70.30,11.70,33.70,1.84,"10,784,516",33.93911,67.709953
188,Vanuatu,25,VU,15.30,"12,189",NaN,29.60,678.0,Port Vila,147,117.13,2.80,VUV,3.78,36.10,1.31,"917,058,851",109.30,4.70,22.3,Port Vila,70.3,72.0,1.56,French,8.90,0.17,"299,882",69.90,17.80,8.50,4.39,"76,152",33.93911,67.709953

In [95]:
# Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

df2[df2['physiciansperthousand'] > 5]

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
9,Austria,109,AT,32.40,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.50,EUR,1.47,46.90,1.20,"446,314,739,528",103.10,85.10,2.9,Vienna,81.6,5.0,NaN,German,17.90,5.17,"8,877,067",60.70,25.40,51.40,4.67,"5,194,416",33.93911,67.709953
14,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60,BYN,1.45,42.60,0.60,"63,080,457,023",100.50,87.40,2.6,Minsk,74.2,2.0,1.49,Russian,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",33.93911,67.709953
39,Cuba,106,CU,59.90,"110,860","76,000",10.17,53.0,Havana,"28,284",NaN,NaN,CUP,1.62,31.30,1.40,"100,023,000,000",101.90,41.40,3.7,Havana,78.7,36.0,0.05,Spanish,NaN,8.42,"11,333,483",53.60,NaN,NaN,1.64,"8,739,135",33.93911,67.709953
61,Georgia,57,GE,34.50,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",133.61,4.90,GEL,2.06,40.60,0.76,"17,743,195,770",98.60,63.90,8.7,Tbilisi,73.6,25.0,0.05,Georgian,57.30,7.12,"3,720,382",68.30,21.70,9.90,14.40,"2,196,476",33.93911,67.709953
64,Greece,81,GR,47.60,"131,957","146,000",8.10,30.0,Athens,"62,434",101.87,0.20,EUR,1.35,31.70,1.54,"209,852,761,469",99.60,136.60,3.6,Macedonia,81.3,3.0,4.46,Greek,35.50,5.48,"10,716,322",51.80,26.20,51.90,17.24,"8,507,474",33.93911,67.709953
96,Lithuania,43,LT,47.20,"65,300","34,000",10.00,370.0,Vilnius,"12,963",118.38,2.30,EUR,1.63,34.80,1.16,"54,219,315,600",103.90,72.40,3.3,Vilnius,75.7,8.0,2.41,Lithuanian,32.10,6.35,"2,786,844",61.60,16.90,42.60,6.35,"1,891,013",33.93911,67.709953
109,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,NaN,NaN,EUR,NaN,NaN,2.00,"7,184,844,193",NaN,NaN,2.6,Monaco City,NaN,NaN,11.72,French,6.10,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964",33.93911,67.709953
136,Portugal,111,PT,39.50,"92,212","52,000",8.50,351.0,Lisbon,"48,742",110.62,0.30,EUR,1.38,34.60,1.54,"237,686,075,635",106.20,63.90,3.1,Lisbon,81.3,8.0,3.78,Portuguese,27.70,5.12,"10,269,417",58.80,22.80,39.80,6.33,"6,753,579",33.93911,67.709953
147,San Marino,566,SM,16.70,61,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.00,EUR,1.26,0.00,NaN,"1,637,931,034",108.10,42.50,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.30,6.11,"33,860",NaN,18.10,36.20,NaN,"32,969",33.93911,67.709953
186,Uruguay,20,UY,82.60,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.90,UYU,1.97,10.70,1.50,"56,045,912,952",108.50,63.10,6.4,Montevideo,77.8,17.0,1.66,Spanish,16.20,5.05,"3,461,734",64.00,20.10,41.80,8.73,"3,303,394",33.93911,67.709953

In [96]:
# Encuentra los países cuyatasa de fertilidad sea mayor a 6.

df2[df2['fertilityrate'] > 6]

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
121,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",33.93911,67.709953
157,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00,1.41,"4,720,727,278",23.40,2.50,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",33.93911,67.709953

In [97]:
# Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

df2[(df2['currency-code'] == 'EUR') & (df2['birthrate'] > df2['birthrate'].mean())]

Empty DataFrame
Columns: [country, density, abbreviation, agriculturalland, landarea(km2), armedforcessize, birthrate, callingcode, capital/majorcity, co2-emissions, cpi, cpichange, currency-code, fertilityrate, forestedarea, gasolineprice, gdp, grossprimaryeducationenrollment, grosstertiaryeducationenrollment, infantmortality, largestcity, lifeexpectancy, maternalmortalityratio, minimumwage, officiallanguage, outofpockethealthexpenditure, physiciansperthousand, population, populationlaborforceparticipation, taxrevenue, totaltaxrate, unemploymentrate, urban_population, latitud, longitud]
Index: []

In [98]:
# Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

df2[df2['infantmortality'] > 70]

,country,density,abbreviation,agriculturalland,landarea(km2),armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
31,Central African Republic,8,CF,8.20,"622,984","8,000",35.35,236.0,Bangui,297,186.86,37.10,NaN,4.72,35.60,1.41,"2,220,307,369",102.00,3.00,84.5,Bangui,52.8,829.0,0.37,French,39.60,0.06,"4,745,185",72.00,8.60,73.30,3.68,"1,982,064",33.93911,67.709953
32,Chad,13,TD,39.70,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.00,XAF,5.75,3.80,0.78,"11,314,951,343",86.80,3.30,71.4,N'Djamena,54.0,1140.0,0.60,French,56.40,0.04,"15,946,876",70.70,NaN,63.50,1.89,"3,712,273",33.93911,67.709953
122,Nigeria,226,NG,77.70,"923,768","215,000",37.91,234.0,Abuja,"120,369",267.51,11.40,NGN,5.39,7.20,0.46,"448,120,428,859",84.70,10.20,75.7,Lagos,54.3,917.0,0.54,English,72.20,0.38,"200,963,599",52.90,1.50,34.80,8.10,"102,806,948",33.93911,67.709953
152,Sierra Leone,111,SL,54.70,"71,740","9,000",33.41,232.0,Freetown,"1,093",234.16,14.80,SLL,4.26,43.10,1.08,"3,941,474,311",112.80,2.00,78.5,Freetown,54.3,1120.0,0.57,English,38.20,0.03,"7,813,215",57.90,8.60,30.70,4.43,"3,319,366",33.93911,67.709953
157,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00,1.41,"4,720,727,278",23.40,2.50,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",33.93911,67.709953